.bloop
.bsp
.jvm-opts
.mill-jvm-opts
.metals/
.vscode/
.idea/
.envrc
.direnv/

out/
result*
fangshan-sim-result/
/dependencies/
target/
emitOut/

*.vcd
*.fst
*.fsdb
*.log

# Chisel
*.fir
*.mlir
*.anno.json
*.s
